.card {
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-bottom: 20px;
}

.cardBody {
    padding: 10px 20px;
}

.cardHeader {
    background-color: #f5f5f5;
    border-bottom: 1px dotted #ccc;
    font-weight: bold;
    padding: 10px;
}

.dayActive{
    box-shadow: 2px 2px 10px 10px rgba(107, 161, 220, 0.5);
  }
  