.containerDE {
    flex: 1;
    margin-left: 20px;
    padding-left: 30px;
    border-left: 1px solid #ccc;
}

h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#noTask {
    margin-top: 20px;
    color: #0400ff;
}

#newTask{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #c8a8a8;
    margin-bottom: -10px;
}