form {
    padding-top: 20px;
}

.formLabel {
    font-weight: bold;
    color: #555;
}

.container3 {
    margin-bottom: 20px;
}

button.btn {
    width: 100%;
    background-color: #0400ff;
    border: none;
    color: white;
}