.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
  
.daysContainer {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.daysContainer > div {
    margin-bottom: 20px; 
    height: 100px;
}
  